.form-group {
    margin-top: 10px;
    background-color: lightgray;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#buttons-go-here {
    background-color: rgb(12, 56, 41);
    border-style: solid;
    border-width: 3px;
    border-color: rgba(138, 138, 137, 0.897);
}

#gifs-go-here {
    background-color: lavender;
}

p {
    display: inline-block;
    margin-right: 30px;
}

h6 {
    color: white;
}

img {
    margin-right: 30px;
    margin-bottom: 30px;
}